/* :root {
  --text-primary: #3c3e4a;
  --text-secondary: #7c8391;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.rex-pricing-banner {
  background: url("../assets/pricing-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 1310px;
  padding: 130px 15px 130px 15px;
  margin: 0 auto;
}
.banner-title {
  max-width: 724px;
}
.banner-title h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}
.banner-description {
  max-width: 596px;
  padding-top: 12px;
}
.banner-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #6f7681;
  font-family: "lato", sans-serif;
}
.banner-btn {
  padding: 40px 0 0 0;
}
.banner-btn a {
  margin-top: 20px;
  padding: 16px 40px;
  background-color: #201cfe;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

/* benefit section */
.rex-benefit-section {
  background-color: #f5f6fc;
  background: linear-gradient(to right, #ffffff 0%, #dde1f1 100%);
}
.benefit-text-wrapper {
  padding-bottom: 60px;
}
.benefit-title {
  max-width: 723px;
  margin: 0 auto;
}
.benefit-title h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
  text-align: center;
}
.benefit-title h2 span {
  color: #201cfe;
}
.benefit-description {
  max-width: 590px;
  margin: 0 auto;
  padding-top: 12px;
}
.benefit-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #6f7681;
  font-family: "lato", sans-serif;
}

/* benefit cards */
.card-row-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.woocommerce-card {
  padding: 30px;
  background: linear-gradient(
    to top left,
    rgba(208, 207, 255, 0.5) 0%,
    rgba(208, 207, 255, 0.5) 100%
  );
  border-radius: 5px;
}
.woocommerce-card-image {
  text-align: center;
}
.woocommerce-card-image img {
  max-width: 100%;
  height: auto;
}
.woocommerce-card-title {
  max-width: 370px;
}
.woocommerce-card-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}
.woocommerce-card-description {
  max-width: 509px;
  padding-top: 12px;
}
.woocommerce-card-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "lato", sans-serif;
  color: #6f7681;
}
/* savings card */
.savings-card {
  padding: 30px;
  background: #def5ff;
  border-radius: 5px;
}
.savings-card-title {
  max-width: 378px;
}
.savings-card-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}
.savings-card-description {
  max-width: 433px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.savings-card-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "lato", sans-serif;
  color: #6f7681;
}
.savings-card-image img {
  margin-left: -40px;
}
/* row 2 */
/* updated card */
.card-row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
.updated-card {
  padding: 30px;
  background: #def5ff;
  border-radius: 5px;
}
.updated-card-title {
  max-width: 263px;
}
.updated-card-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}

.updated-card-description {
  max-width: 347px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.updated-card-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "lato", sans-serif;
  color: #6f7681;
}
.updated-card-image {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-top: 50px;
}
/* suport card */
.support-card {
  padding: 30px;
  background: #e9e9ff;
  border-radius: 5px;
}
.support-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.updated-card-title {
  max-width: 360px;
}
.support-card-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}

.support-card-description {
  max-width: 274px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.support-card-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "lato", sans-serif;
  color: #6f7681;
}

/* license card */
.license-card {
  padding: 30px;
  background: #ffffff;
  border-radius: 5px;
}
.license-card-title {
  max-width: 272px;
}
.license-card-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  font-family: "Poppins", sans-serif;
  color: #3c3e4a;
}

.license-card-description {
  max-width: 274px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.license-card-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "lato", sans-serif;
  color: #6f7681;
}
.license -card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* checkout our plugins */
.checkout-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.checkout-section-title {
  max-width: 723px;
  padding-bottom: 40px;
}
.checkout-section-title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  font-family: "poppins", sans-serif;
  color: #3c3e4a;
}
.checkout-section-title h2 span {
  color: #201cfe;
}

.checkout-card-wrapper {
}
.product-feed-manager-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/pfm-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.cart-lift-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/cart-lift-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.wpvr-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/wpvr-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.product-recommendation-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/product-recommendation-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.dynamic-discount-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/dynamic-discount-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.checkoutify-card {
  padding: 30px;
  border-radius: 10px;
  background-image: url(../assets/checkoutify-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #f7f8ff;
}
.checkout-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.checkout-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
.checkout-card-header img {
}
.checkout-card-header h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  font-family: "poppins", sans-serif;
  color: #091e43;
}
.checkout-card-description {
  max-width: 320px;
  margin: 0 auto;
}
.checkout-card-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #6f7681;
}
.checkout-btn {
  text-align: center;
  margin-top: auto;
}
.checkout-btn a {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #091e43;
}
.checkout-btn a:hover {
  color: #201cfe;
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  /* banner */
  .rex-pricing-banner {
    background-position: center;
    background-size: cover;
  }
  .container {
    padding: 60px 20px 60px 20px;
    margin: 0 auto;
  }
  .banner-title {
    max-width: 400px;
  }
  .banner-title h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    color: #3c3e4a;
  }
  .banner-description {
    max-width: 596px;
    padding-top: 12px;
  }
  .banner-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6f7681;
    font-family: "lato", sans-serif;
  }
  .banner-btn {
    padding: 30px 0 0 0;
  }
  .banner-btn a {
    padding: 8px 20px;
    background-color: #201cfe;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }

  /* benefit section */
  .benefit-text-wrapper {
    padding-bottom: 60px;
  }
  .benefit-title {
    max-width: 450px;
  }
  .benefit-title h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .benefit-description {
    max-width: 400px;
  }
  .benefit-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  /* benefit cards */
  .card-row-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .woocommerce-card {
    padding: 20px;
    background: linear-gradient(
      to top left,
      rgba(208, 207, 255, 0.5) 0%,
      rgba(208, 207, 255, 0.5) 100%
    );
    border-radius: 5px;
  }
  .woocommerce-card-title {
    max-width: 370px;
  }
  .woocommerce-card-title h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
  .woocommerce-card-description {
    max-width: 370px;
    padding-top: 12px;
  }
  .woocommerce-card-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  /* savings card */
  .savings-card {
    padding: 20px;
  }
  .savings-card-title {
    max-width: 378px;
  }
  .savings-card-title h2 {
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
  }
  .savings-card-description {
    max-width: 370px;
  }
  .savings-card-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "lato", sans-serif;
    color: #6f7681;
  }
  .savings-card-image img {
    margin-left: -40px;
  }
  /* row 2 */
  /* updated card */
  .card-row-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  .updated-card {
    padding: 20px;
    background: #def5ff;
    border-radius: 5px;
  }
  .updated-card-title {
    max-width: 263px;
  }
  .updated-card-title h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    color: #3c3e4a;
  }

  .updated-card-description {
    max-width: 347px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .updated-card-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "lato", sans-serif;
    color: #6f7681;
  }
  .updated-card-image {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 50px;
  }
  /* suport card */
  .support-card {
    padding: 20px;
    background: #e9e9ff;
    border-radius: 5px;
  }
  .support-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  .updated-card-title {
    max-width: 360px;
  }
  .support-card-title h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    color: #3c3e4a;
  }

  .support-card-description {
    max-width: 274px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .support-card-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "lato", sans-serif;
    color: #6f7681;
  }

  /* license card */
  .license-card {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
  }
  .license-card-title {
    max-width: 272px;
  }
  .license-card-title h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    color: #3c3e4a;
  }

  .license-card-description {
    max-width: 274px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .license-card-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: "lato", sans-serif;
    color: #6f7681;
  }
  .license -card-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkout-card-wrapper {
    grid-template-columns: 1fr;
  }
}

/* responsive tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
}
